@model clinicaveterinaria20.Models.Animale

@{
    ViewBag.Title = "Delete";
}

<h2 class="p-5 fw-semibold display-4">Sei sicuro di voler rimuovere questa anagrafica?</h2>
    <div class="w-75 mx-auto d-flex align-items-center">
        <dl class="dl-horizontal w-50 m-0 text-center d-flex justify-content-center">
            <div>
                <dt class="control-label pb-2">
                    Data registrazione
                </dt>

                <dd class="fs-5 fst-italic">
                    @Html.DisplayFor(model => model.dataRegistrazione)
                </dd>

                <dt class="control-label pb-2">
                    Nome animale
                </dt>

                <dd class="fs-5 fst-italic">
                    @Html.DisplayFor(model => model.nome)
                </dd>

                <dt class="control-label pb-2">
                    Specie
                </dt>

                <dd class="fs-5 fst-italic">
                    @Html.DisplayFor(model => model.tipo)
                </dd>

                <dt class="control-label  pb-2">
                    Colore mantello
                </dt>

                <dd class="fs-5 fst-italic">
                    @Html.DisplayFor(model => model.coloreMantello)
                </dd>

                <dt class="control-label pb-2">
                    Data di nascita
                </dt>

                <dd class="fs-5 fst-italic">
                    @Html.DisplayFor(model => model.dataDinascita)
                </dd>
            </div>
            <div>
                @if (Model.microchip != false)
                {
                    <dt class="control-label pb-2">
                        Microchip
                    </dt>

                    <dd class="fs-5 fst-italic">
                        @Html.DisplayFor(model => model.microchip)
                    </dd>

                    <dt class="control-label pb-2">
                        Numero microchip
                    </dt>

                    <dd class="fs-5 fst-italic">
                        @Html.DisplayFor(model => model.nmicrochip)
                    </dd>
                }

                @if (Model.nomeProprietario != null)
                {
                    <dt class="control-label pb-2">
                        Nome proprietario
                    </dt>

                    <dd class="fs-5 fst-italic">
                        @Html.DisplayFor(model => model.nomeProprietario)
                    </dd>

                    <dt class="control-label pb-2">
                        Cognome proprietario
                    </dt>

                    <dd class="fs-5 fst-italic">
                        @Html.DisplayFor(model => model.cognomeProprietario)
                    </dd>

                    <dt class="control-label pb-2">
                        Codice Fiscale
                    </dt>

                    <dd class="fs-5 fst-italic">
                        @Html.DisplayFor(model => model.codicefiscale)
                    </dd>
                }

                @if (Model.datainizioricovero != null)
                {
                    <dt class="control-label pb-2">
                        @Html.DisplayNameFor(model => model.datainizioricovero)
                    </dt>

                    <dd class="fs-5 fst-italic">
                        @Html.DisplayFor(model => model.datainizioricovero)
                    </dd>
                }
            </div>

        </dl>

            <div class="w-50">
                <img src="~/Content/img/uploads/@Model.foto" class="w-75 rounded-5">
            </div>
</div>

    <div class="text-center py-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Elimina" class="btn btn-light rounded-pill border-0 w-25 fw-semibold p-2 fs-5 me-5" />
                @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-light rounded-pill border-0 w-25 fw-semibold p-2 fs-5" })
            </div>
        }
    </div>
