@model clinicaveterinaria20.Models.Animale

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Animal", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Animale</h4>
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idanimale)

        @Html.HiddenFor(model => model.dataRegistrazione)

        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.coloreMantello, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.coloreMantello, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coloreMantello, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataDinascita, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.dataDinascita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dataDinascita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.microchip, htmlAttributes: new { @class = "control-label " })
            <div class="">
                <div class="checkbox">
                    @Html.EditorFor(model => model.microchip)
                    @Html.ValidationMessageFor(model => model.microchip, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nmicrochip, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.nmicrochip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nmicrochip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nomeProprietario, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.nomeProprietario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeProprietario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cognomeProprietario, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.cognomeProprietario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cognomeProprietario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datainizioricovero, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.datainizioricovero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datainizioricovero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafinericovero, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.datafinericovero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafinericovero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codicefiscale, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.codicefiscale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codicefiscale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.foto, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>