<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - PawCare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/nav.css" rel="stylesheet" />
    <link href="~/Content/footer.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <!--NAVBAR-->
    <input type="checkbox" id="burger-toggle">
    <label for="burger-toggle" class="burger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    @if (User.IsInRole("Farmacista"))
    {
        <div class="menu">
            <div class="menu-inner">
                <ul class="menu-nav">
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/">
                            <span>
                                <div>HOME</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Vendite/Home">
                            <span>
                                <div>FARMACIA</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Register/Register">
                            <span>
                                <div>SIGNUP</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Home/logout">
                            <span>
                                <div>LOGOUT</div>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="gallery">
                    <div class="title">
                    </div>
                    <div class="images">
                        <a class="image-link" href="~/">
                            <div class="image shadow-lg" data-label="Home"><img src="~/Content/img/gatto.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Vendite/Home">
                            <div class="image shadow-lg" data-label="Farmacia"><img src="~/Content/img/rabbit.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Register/Register">
                            <div class="image shadow-lg" data-label="Signup"><img src="~/Content/img/husky.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Home/logout">
                            <div class="image shadow-lg" data-label="Logout"><img src="~/Content/img/bird.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Veterinario"))
    {
        <div class="menu">
            <div class="menu-inner">
                <ul class="menu-nav">
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/">
                            <span>
                                <div>HOME</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Animal/Home">
                            <span>
                                <div>CLINICA</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Vendite/Home">
                            <span>
                                <div>SIGNUP</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Home/logout">
                            <span>
                                <div>LOGOUT</div>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="gallery">
                    <div class="title">
                    </div>
                    <div class="images">
                        <a class="image-link" href="~/">
                            <div class="image shadow-lg" data-label="Home"><img src="~/Content/img/gatto.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Animal/Home">
                            <div class="image shadow-lg" data-label="Clinica"><img src="~/Content/img/husky.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Register/Register">
                            <div class="image shadow-lg" data-label="Signup"><img src="~/Content/img/rabbit.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Home/logout">
                            <div class="image shadow-lg" data-label="Logout"><img src="~/Content/img/bird.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="menu">
            <div class="menu-inner">
                <ul class="menu-nav">
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/">
                            <span>
                                <div>HOME</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Register/Register">
                            <span>
                                <div>SIGNUP</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Home/Login">
                            <span>
                                <div>LOGIN</div>
                            </span>
                        </a>
                    </li>
                    <li class="menu-nav-item d-flex flex-column justify-content-center">
                        <a class="menu-nav-link" href="~/Animal/SearchByMNumber">
                            <span>
                                <div>RICERCA PER CF</div>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="gallery">
                    <div class="title">
                    </div>
                    <div class="images">
                        <a class="image-link" href="~/">
                            <div class="image shadow-lg" data-label="Home"><img src="~/Content/img/gatto.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Register/Register">
                            <div class="image shadow-lg" data-label="Signup"><img src="~/Content/img/rabbit.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Home/Login">
                            <div class="image shadow-lg" data-label="Login"><img src="~/Content/img/husky.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="~/Animal/SearchByMNumber">
                            <div class="image shadow-lg" data-label="Ricerca"><img src="~/Content/img/bird.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }




    @*<div class="bars" id="nav-action">
            <span class="bar"> </span>
        </div>
        <nav id="nav">
            <ul>
                <li class="shape-circle circle-one"><a href="#">Contact</a></li>
                <li class="shape-circle circle-two"><a href="#">Blog</a></li>
                <li class="shape-circle circle-three"><a href="#">Work</a></li>
                <li class="shape-circle circle-five">
                    <a href="#">Home</a>
                </li>
            </ul>
        </nav>*@
    <div class="container-fluid body-content p-0 min-vh-100 d-flex flex-column justify-content-between">
        @RenderBody()
        <footer>
            <div class="row w-75 mx-auto">

                <div class="column pb-3 pb-lg-0">
                    <h4>PawCare Clinica Veterinaria</h4>
                    <p>
                        Teniamo alla cura dei vostri pet e facciamo in modo che si sentano a casa quando vengono a trovarci.
                    </p>
                    <h4 class="mt-3">Orari <i class="fa fa-clock" style="color: #6FAAFF"></i></h4>
                    <ul>
                        <li class="m-0"><ins>Lun.</ins> &nbsp;08:00 - 18:30</li>
                        <li class="m-0"><ins>Mar.</ins> &nbsp;08:00 - 18:30</li>
                        <li class="m-0"><ins>Mer.</ins> &nbsp;08:00 - 18:30</li>
                        <li class="m-0"><ins>Gio.</ins> &nbsp;08:00 - 18:30</li>
                        <li class="m-0"><ins>Ven.</ins> &nbsp;08:00 - 18:30</li>
                    </ul>

                </div>

                <div class="column ps-lg-5 pb-3 pb-lg-0">
                    <h4>Link Utili</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                                Newsletter
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                                Contatti
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                                Prenotazioni
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="column">
                    <h4>Seguici su</h4>
                    <ul class="social-icons">
                        <li>
                            Maicol Abbiento
                            <a href="https://www.linkedin.com/in/maicol-abbiento-fullstackdeveloper/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/MaicolAbbiento">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            Giulia Orlando
                            <a href="https://www.linkedin.com/in/giuliaorlando-webdeveloper-linguist/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/giuliasorlando">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            Paolo Manca
                            <a href="https://www.linkedin.com/in/paolo-manca-developer/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/Paolomanca90">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            Raffaele Ianniello
                            <a href="https://www.linkedin.com/in/raffaeleianniello-webdeveloper/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/RaffaeleIanniello">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            Valerio Paratore
                            <a href="https://www.linkedin.com/in/valerio-paratore-b45148163/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/ValerioParatore">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
            <p class="copyright">&copy; @DateTime.Now.Year All Rights Reserved - Maicol Abbiento, Giulia Orlando, Paolo Manca, Raffaele Ianniello, Valerio Paratore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src='https://cdnjs.cloudflare.com/ajax/libs/classnames/2.3.1/index.min.js'></script>
    <script src='https://codepen.io/Hyperplexed/pen/xxYJYjM/54407644e24173ad6019b766443bf2a6.js'></script>
    <script src="~/Scripts/script.js"></script>
    <script>
        var bars = document.getElementById("nav-action");
        var nav = document.getElementById("nav");

        bars.addEventListener("click", barClicked, false);

        function barClicked() {
            bars.classList.toggle('active');
            nav.classList.toggle('visible');
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>