@model clinicaveterinaria20.Models.Prodotti

@{
    ViewBag.Title = "ModificaProdotto";
    List<int> lista = new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
}

<div>
    @Html.ActionLink("ᐊ", "Home", null, new { @class = "btn btn-light btn-lg m-4 rounded-pill border-0" })
</div>

<h2 class="p-5 fw-semibold display-4">Modifica prodotto</h2>

@if (ViewBag.Errore != null)
{
    <p class="text-center text-danger fs-5 fst-italic p-3">@ViewBag.Errore</p>
}

@if (TempData["Successo"] != null)
{
    <p class="text-center text-primary fs-5 fst-italic p-3">@TempData["Successo"]</p>
}

<div class="position-relative mb-5">
    @using (Html.BeginForm("ModificaProdotto", "magazzino", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "w-50 mx-auto" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.idprodotto);

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control w-100 rounded-pill p-2" } })
                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.tipologia, htmlAttributes: new { @class = "control-label fw-semibold pb-2" })
                <div class="w-100 d-flex">
                    <div class="w-50 text-center">
                        <label class="form-check-label">Alimento</label>
                        @Html.RadioButtonFor(model => model.tipologia, false, new { @class = "form-check-input" })
                    </div>
                    <div class="w-50 text-center">
                        <label class="form-check-label">Medicinale</label>
                        @Html.RadioButtonFor(model => model.tipologia, true, new { @class = "form-check-input" })
                    </div>
                    @Html.ValidationMessageFor(model => model.tipologia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label fw-semibold pb-2" })
                <div class="w-100">
                    @Html.TextBoxFor(model => model.foto, new { @class = "form-control w-100 rounded-pill p-2", type = "file", @accept = "image/*" })
                    @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.quantita, htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.EditorFor(model => model.quantita, new { htmlAttributes = new { @class = "form-control w-100 rounded-pill p-2" } })
                    @Html.ValidationMessageFor(model => model.quantita, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mb-3">
                @Html.Label("Inserisci il numero dell'armadietto", htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.DropDownListFor(model => model.Cassetto.idarmadietto, new SelectList(ViewBag.Armadietti, "Value", "Text"), new { @class = "form-control w-100 rounded-pill p-2" })
                    @Html.ValidationMessageFor(model => model.Cassetto.idarmadietto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.costo, htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.EditorFor(model => model.costo, new { htmlAttributes = new { @class = "form-control w-100 rounded-pill p-2" } })
                    @Html.ValidationMessageFor(model => model.costo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.Label("Inserisci il numero del cassetto", htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.DropDownListFor(model => model.Cassetto.ncassetto, new SelectList(lista), new { @class = "form-control w-100 rounded-pill p-2" })
                    @Html.ValidationMessageFor(model => model.Cassetto.ncassetto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.idutilizzo, htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.DropDownListFor(model => model.idutilizzo, new SelectList(ViewBag.Utlizzi, "Value", "Text"), new { @class = "form-control w-100 rounded-pill p-2" })
                    @Html.ValidationMessageFor(model => model.idutilizzo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.idbrand, htmlAttributes: new { @class = "control-label fw-semibold pb-2 " })
                <div class="w-100">
                    @Html.DropDownListFor(model => model.idbrand, new SelectList(ViewBag.Brand, "Value", "Text"), new { @class = "form-control w-100 rounded-pill p-2" })
                    @Html.ValidationMessageFor(model => model.idbrand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group my-5">
                <div class="w-100 text-center">
                    <input type="submit" value="Modifica" class="btn btn-light rounded-pill border-0 col-12 col-lg-3 fw-semibold p-2 fs-5" />
                </div>
            </div>
        </div>
    }
    <div class="position-absolute bottom-0" style="z-index:-1;">
        <img src="~/Content/img/pharmacy.svg" alt="pet" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}