@model clinicaveterinaria20.Models.Visita

@{
    ViewBag.Title = "Delete";
}

<div>
    @Html.ActionLink("ᐊ", "Index", "Animal", null, new { @class = "btn btn-light btn-lg m-4 rounded-pill border-0" })
</div>

<h2 class="p-5 fw-semibold display-4">Sei sicuro di voler rimuovere questa visita?</h2>
<div class="w-75 mx-auto d-flex align-items-center">
    <dl class="dl-horizontal w-50 m-0 text-center d-flex flex-column justify-content-center align-items-center">
        <dt class="control-label pb-2">
            Nome dell'animale
        </dt>

        <dd class="fs-5 fst-italic">
            @Html.DisplayFor(model => model.Animale.nome)
        </dd>

        <dt class="control-label pb-2">
            Data visita
        </dt>

        <dd class="fs-5 fst-italic">
            @Html.DisplayFor(model => model.datavisita)
        </dd>

        <dt class="control-label pb-2">
            Esame obiettivo
        </dt>

        <dd class="fs-5 fst-italic">
            @Html.DisplayFor(model => model.esame)
        </dd>

        <dt class="control-label pb-2">
            Descrizione cura
        </dt>

        <dd class="fs-5 fst-italic">
            @Html.DisplayFor(model => model.cura)
        </dd>
    </dl>
    <div class="w-50">
        <img src="~/Content/img/stetovet.svg" class="w-75 rounded-5">
    </div>
</div>

<div class="text-center py-5">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-light rounded-pill border-0 w-25 fw-semibold p-2 fs-5 me-5" />
            @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-light rounded-pill border-0 w-25 fw-semibold p-2 fs-5" })
        </div>
    }
</div>