@model IEnumerable<clinicaveterinaria20.Models.Visita>

@{
    ViewBag.Title = "Index";
}

@section styles{
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
}

<div>
    @Html.ActionLink("ᐊ", "Index", "Animal", null, new { @class = "btn btn-light btn-lg m-4 rounded-pill border-0" })
</div>

<h2>Index</h2>

<div class="position-relative">
    <p class="text-center px-5 fs-1">
        @Html.ActionLink("Nuova visita", "Create", null, new { @class = "btn btn-light rounded-pill px-5 fs-4 border-0" })
    </p>
    <table class="table w-75 mx-auto my-5">
        <tr class="fs-4">
            <th>
                Nome dell'animale
            </th>
            <th>
                Data visita
            </th>
            <th>
                Esame obiettivo
            </th>
            <th>
                Descrizione cura
            </th>
            <th>
                Modifica
            </th>
            <th>
                Elimina
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Animale.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datavisita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.esame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cura)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idvisita }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idvisita })
            </td>
        </tr>
    }

</table>
