@model IEnumerable<clinicaveterinaria20.Models.Visita>

@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("ᐊ", "Home", "Animal", null, new { @class = "btn btn-light btn-lg m-4 rounded-pill border-0" })
</div>

<h2 class="p-5 fw-semibold display-4">Elenco delle visite</h2>

<div class="position-relative">
    <p class="text-center px-5 fs-1">
        @Html.ActionLink("Create New", "Create", null, new { @class = "text-light text-decoration-underline" })
    </p>
    <table class="table w-75 mx-auto my-5">
        <tr class="fs-4">
            <th>
                @Html.DisplayNameFor(model => model.Animale.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datavisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cura)
            </th>
            <th>
                Modifica
            </th>
            <th>
                Elimina
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="fst-italic fs-5">
                <td>
                    @Html.DisplayFor(modelItem => item.Animale.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datavisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.esame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cura)
                </td>
                <td>
                    <a href="~/Appointment/Edit/@item.idvisita"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a href="~/Appointment/Delete/@item.idvisita"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>
    <div class="position-absolute bottom-0 opacity-25" style="z-index: -1; right: -10%;">
        <img src="~/Content/img/stetovet.svg" alt="Alternate Text" />
    </div>
</div>