@model clinicaveterinaria20.Models.Utente

@{
    ViewBag.Title = "login";
}

@section styles{
    <style>
        .btn:hover {
            background-color: #31afff !important;
            color: white !important;
        }
    </style>
}

<h2 class="p-5 fw-semibold display-4">Login</h2>

<div>
    @if (ViewBag.Errore != null)
    {
        <p><strong>@ViewBag.Errore</strong></p>
    }
</div>

<div class="position-relative pb-5">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "w-50 mx-auto my-5" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label fw-semibold pb-2" })
                <div class="col-12">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control w-100 rounded-pill p-2" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label fw-semibold pb-2" })
                <div class="col-12">
                    @Html.TextBoxFor(model => model.password, new {type="password", @class = "form-control w-100 rounded-pill p-2" } )
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-5">
                <div class="w-100 text-center">
                    <input type="submit" value="Registra" class="btn btn-light rounded-pill border-0 w-25 fw-semibold p-2 fs-5" />
                </div>
            </div>
        </div>
    }
    <div class="position-absolute bottom-0">
        <img src="~/Content/img/login.png" alt="pet" style="mix-blend-mode:color-burn" />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
